.workBlock {
    width: 300px;
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.images {
    height: 300px;
    widht:300px;
}

.spans {
    background-color: #5a8ce0;
    display: flex;
    align-items: flex-start;

    flex-direction: column;
}
.spans span {
    background-color: #eaa7a7;
}
