@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";
.contactsBlock {
    height: 100vh;
    background-color: $secondPrimaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    .contactsContainer {
        @include flex(column, space-around, center, no-wrap);
        background-image: url('../common/Images/backrgroun-section/contactW.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: contain;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        .message {
            height: 60%;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: column;
            background-color: $secondPrimaryColor;
            box-shadow: 0 0 5px;
            align-items: center;
            @media screen and (max-width: 480px) {
                    width: 100%;
            }
            input {
                width: 100%;
                height: 10%;
                border-radius: 5px;
                padding: 0 20px;
                font-size: 18px;
                transition: all 0.5s ease 0s;
                background-color: lightyellow;

            }
            input:focus {
                box-shadow: 0 0 15px #4e93ef;
            }
            textarea {
                width: 100%;
                height: 60%;
                resize: none;
                padding: 20px;
                border-radius: 5px;
                font-size: 18px;
                background-color: lightyellow;
            }
        }

    }
}


