@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";

.contactsBlock {
  height: 100vh;
  background-color: $secondPrimaryColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .contactsContainer {
    @include flex(column, space-around, center, no-wrap);
    background-image: url('../common/Images/backrgroun-section/contactW.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
    height: 100%;
    width: 80%;
    margin: 0 auto;


    
    .cont {
        height: 60%;
      width: 70%;

      @media screen  and (max-width: 900px) {
        width: 100%;
      }
    }

  }
}


