@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 20px;

  a {
    @include text(16px, 1.2);
    color: $textColor;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }

  .active {
    color: $primaryColor;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }
}
