@import "../styles/sass/variables";

.btn {
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px;
  max-width: 160px;
  width: 100%;
  color: $textColor;
  outline: none;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    border-radius: 5px;
    width: 50%;
    height: 10px;
    background: #c3313b;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
    left: 50%;
    transform: translateX(-50%);

  }

  &:hover {
    text-decoration: none;
    color: $textColor;
    span {
      &::after {
        content: '\00bb';
      }
    }
    &::after {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out 0s;
    }
  }

}
