.skill {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: #cf3841;
    border: 2px solid #b62e2e; /* Ширина и цвет границ*/
    border-radius: 10px; /* Радиус границ*/
    box-shadow: 0 0 15px #A9A9A9; /* Размер и цвет тени блока*/
    margin: 0 auto;
    margin-block: inherit;

}
.skill:hover {
    transform: translate3d(20px,20px,-50px);
}

.skill:hover .icon {
    transform: rotate(360deg);

}

.icon {
    border-radius: 10px;
    height: 60px;
    width: 60px;
    transition-duration: 1s;
}

.icon:hover {

}

.skill h3 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 5px;
}

.description:hover {

}