.skill {
    width: 250px;
    /*background-color: #d3666c;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    background:linear-gradient(-45deg, transparent 15px, #d3666c 0);
}


.icon {
    height: 60px;
    width: 60px;
    background-color: sandybrown;
}

.skill h3{

    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 5px;
}
.description {

}