@import '../../styles/sass/variables';
.title {
  margin: 0 0 30px;
  position: relative;
  font-family: 'Spartan', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 5px;
  color: $textColor;
  .title h2 {
    margin: 0;

  }


  &::before {
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);

  }

}




