@import '../common/styles/sass/variables';
.worksBlock {
  background-image: url('../common/Images/backrgroun-section/444.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  .worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .works {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: start;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}






