@import '../common/styles/sass/variables';
.worksBlock {
  background-color: $bgColor;

  .worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .works {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: start;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}






