.mainBlock {
min-height: 100vh;
    background-image: url('../common/Images/backrgroun-section/mark-slider-background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 20%;

}

.text {
    color: #fff;
    font-family: 'Martel', serif;
}
.photo {
width: 300px;
    height: 400px;
    background-color: white;
}