.freelanceOption {
    min-height: 20vh;
    background-image: url('../common/Images/backrgroun-section/contact.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    .freelanceOptionContainer {
        flex-direction: column;
    }
}

